:root{
    --normal: rgb(159, 161, 159);
    --fire: rgb(230, 40, 41);
    --water: rgb(41, 128, 239);
    --grass: rgb(63, 161, 41);
    --electric: rgb(250, 192, 0);
    --ice: rgb(63, 216, 255);
    --fighting: rgb(255, 128, 0);
    --poison: rgb(143, 65, 203);
    --ground: rgb(145, 81, 33);
    --flying: rgb(129, 185, 239);
    --psychic: rgb(239, 65, 121);
    --bug: rgb(145, 161, 25);
    --rock: rgb(175, 169, 129);
    --ghost: rgb(112, 65, 112);
    --dark: rgb(80, 65, 63);
    --dragon: rgb(80, 97, 225);
    --steel: rgb(96, 161, 184);
    --fairy: rgb(239, 113, 239);
}

*{
    color: black;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right, rgb(147, 248, 176), rgb(244, 198, 146) , rgb(157, 237, 246));
    margin: 0;
    min-height: 100vh;
}
main{
    padding: 2rem;
    max-width: 1150px;
    margin: auto;
}
nav{
    display: block;
    margin: auto;
    font-size: 45px;
    text-align: center;
}
.title{
    font-family: Pokemon;
    text-decoration: none;
    -webkit-text-stroke: 2.5px rgb(50, 100, 176);
    color: rgb(255, 204, 1);
    text-shadow: 0px 0px 15px white;
    letter-spacing: 0.5vh;
}

@font-face{
    font-family: Pokemon;
    src: url(../css/fonts/Pokemon\ Solid.ttf);
}
/*#dark-mode{
    
}*/
::-webkit-scrollbar{
    width: 1.75vh;
    margin: auto;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(254, 161, 161), rgb(254, 233, 161), rgb(177, 252, 160),
    rgb(160, 201, 254), rgb(254, 160, 254), rgb(214, 162, 254));
    border-radius: 5px;
}