:root {
    --normal: rgb(159, 161, 159);
    --fire: rgb(230, 40, 41);
    --water: rgb(41, 128, 239);
    --grass: rgb(63, 161, 41);
    --electric: rgb(250, 192, 0);
    --ice: rgb(63, 216, 255);
    --fighting: rgb(255, 128, 0);
    --poison: rgb(143, 65, 203);
    --ground: rgb(145, 81, 33);
    --flying: rgb(129, 185, 239);
    --psychic: rgb(239, 65, 121);
    --bug: rgb(145, 161, 25);
    --rock: rgb(175, 169, 129);
    --ghost: rgb(112, 65, 112);
    --dark: rgb(80, 65, 63);
    --dragon: rgb(80, 97, 225);
    --steel: rgb(96, 161, 184);
    --fairy: rgb(239, 113, 239);
}

[data-theme="light"] {
    --primary: black;
    --background: linear-gradient(to right, rgb(147, 248, 176), rgb(244, 198, 146), rgb(157, 237, 246));
    --backgroundscrollbar: linear-gradient(to bottom, rgb(254, 161, 161), rgb(254, 233, 161), rgb(177, 252, 160),
            rgb(160, 201, 254), rgb(254, 160, 254), rgb(214, 162, 254));
    --backgroundpokemonhover: linear-gradient(to bottom right, rgb(254, 161, 161), rgb(254, 233, 161), rgb(177, 252, 160),
            rgb(160, 201, 254), rgb(254, 160, 254), rgb(214, 162, 254));
    --backgroundmenuhover: linear-gradient(to right, rgb(254, 161, 161), rgb(254, 233, 161), rgb(177, 252, 160),
            rgb(160, 201, 254), rgb(254, 160, 254), rgb(214, 162, 254));
    --backgroundpokemon: rgb(240, 240, 240);
    --backgroundid: radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240), rgb(180, 180, 180));
    --colortitle: rgb(255, 204, 1);
    --bordertitle: rgb(50, 100, 176);
    --titleshadow: white;
}

[data-theme="dark"] {
    --primary: white;
    --background: linear-gradient(to right, rgb(31, 82, 47), rgb(84, 59, 31), rgb(30, 80, 85));
    --backgroundscrollbar: linear-gradient(to bottom, rgb(136, 60, 60), rgb(112, 98, 52), rgb(70, 109, 62),
            rgb(68, 98, 137), rgb(125, 72, 125), rgb(114, 84, 137));
    --backgroundpokemonhover: linear-gradient(to bottom right, rgb(91, 32, 32), rgb(83, 70, 30), rgb(35, 80, 27),
            rgb(30, 54, 86), rgb(86, 31, 86), rgb(68, 32, 95));
    --backgroundmenuhover: linear-gradient(to right, rgb(136, 60, 60), rgb(112, 98, 52), rgb(70, 109, 62),
    rgb(68, 98, 137), rgb(125, 72, 125), rgb(114, 84, 137));
    --backgroundpokemon: rgb(10, 10, 10);
    --backgroundid: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(240, 240, 240));
    --colortitle: var(--poison);
    --bordertitle: black;
    --titleshadow: black;
}

* {
    color: var(--primary);
    font-family: sans-serif;
}

body {
    background: var(--background);
    margin: 0;
    min-height: 100vh;
}

.title {
    font-family: Pokemon;
    text-decoration: none;
    -webkit-text-stroke: 2.5px var(--bordertitle);
    color: var(--colortitle);
    text-shadow: 0px 0px 15px var(--titleshadow);
    letter-spacing: 0.5vh;
}

main {
    padding: 2rem;
    max-width: 1150px;
    margin: auto;
}

nav {
    display: block;
    margin: auto;
    font-size: 45px;
    text-align: center;
}

@font-face {
    font-family: Pokemon;
    src: url(../css/fonts/Pokemon\ Solid.ttf);
}

::-webkit-scrollbar {
    width: 1.75vh;
    margin: auto;
}

::-webkit-scrollbar-thumb {
    background: var(--backgroundscrollbar);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--titleshadow);
}
.image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
    max-width: 175px;
}

.pokemon:hover {
    background: var(--backgroundpokemonhover);
    text-shadow: 0px 0px 4px var(--titleshadow);
}

.barra:hover {
    background: var(--backgroundmenuhover);
}

.info {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.id {
    background: var(--backgroundid);
    box-shadow: 0 0 7.5px 0px var(--primary);
    color: var(--primary);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 800;
}

.types {
    display: flex;
    gap: 0.75rem;
    font-size: 0.75rem;
    font-weight: 800;
    flex-wrap: wrap;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
}

.type {
    box-shadow: 0 0 7px 0px black;
    outline: auto black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.link {
    text-decoration: none;
}

.container-pokeball {
    position: fixed;
    bottom: 15px;
    left: 15px;
}
.container-pokeball .panel {
    position: absolute;
    transition: .3s all;
    width: 90px;
    height: 180px;
    border-radius: 15px;
    transform: translateY(-100%);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
.container-pokeball .panel.active {
    display: flex;
}
.container-pokeball .panel .oscuro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(30, 30, 30);
    transition: 0.3 all;
}
.container-pokeball .panel .claro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(255, 255, 50);
    transition: .3 all;
}
.container-pokeball .pokeball {
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    filter: sepia(50%);
    transition: .4s ease;
    animation: pulse 1.5s infinite;
}
.container-pokeball .pokeball:hover {
    filter: sepia(0);
    transition: .4s ease;
}