*{
    color: black;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right, rgb(147, 248, 176), rgb(244, 198, 146) , rgb(157, 237, 246));
    margin: 0;
    min-height: 100vh;
}
main{
    padding: 2rem;
    max-width: 1150px;
    margin: auto;
}
nav{
    display: block;
    margin: auto;
    font-size: 45px;
    text-align: center;
}
.title{
    font-family: Pokemon;
    text-decoration: none;
    -webkit-text-stroke: 2.5px rgb(50, 100, 176);
    color: rgb(255, 204, 1);
    /*text-shadow: 4px 4px 4px 4px red;*/
}
.barra{
    border-radius: 15px;
    max-width: 1115px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    display: flex;
    padding: 1rem;
}
#dark-mode{
    margin-left: 20%;
    margin-right: 20%;
}

@font-face{
    font-family: Pokemon;
    src: url(../css/fuentes/Pokemon\ Solid.ttf);
}