.pokemon {
    border-radius: 15px;
    border: 2px solid var(--primary);
    background-color: var(--backgroundpokemon);
    box-shadow: 0 0 20px -5px var(--primary);
    padding: 1rem;
    text-transform: capitalize;
    width: 300px;
}

#card{
    justify-content: center;
    display: flex;
}

.container1 {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
}

.container2 {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
}

.name {
    font-size: 20px;
    font-weight: 800;
}

hr {
    width: 12.5rem;
}

.stats {
    text-align: left;
    font-weight: 700;
}

.barra {
    border-radius: 15px;
    max-width: 300px;
    margin: auto;
    background-color: var(--backgroundpokemon);
    border: 2px solid var(--primary);
    display: flex;
    padding: 1rem;
}

.stat1 {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    font-weight: 700;
}

.trigger {
    padding-top: 1.25rem;
    font-weight: 600;
}

#shiny {
    margin: auto;
}

progress {
    background-color: var(--titleshadow);
    padding: 2px;
    border: 2px solid var(--primary);
    border-radius: 6px;
    box-shadow: 0px 0px 7.5px 0px var(--primary);
}

::-webkit-progress-bar {
    background-color: var(--titleshadow);
}

::-webkit-progress-value {
    border-radius: 3px;
    background-color: var(--primary);
}

#evolves {
    gap: 5rem;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

main {
    padding: 2rem;
    margin: auto;
}