*{
    color: black;
    font-family: sans-serif;
}
.normal{
    background-color: rgb(159, 161, 159);
    color: white;
}
.fire{
    background-color: rgb(230, 40, 41);
    color: white;
}
.water{
    background-color: rgb(41, 128, 239);
    color: white;
}
.grass{
    background-color: rgb(63, 161, 41);
    color: white;
}
.electric{
    background-color: rgb(250, 192, 0);
    color: white;
}
.ice{
    background-color: rgb(63, 216, 255);
    color: white;
}
.fighting{
    background-color: rgb(255, 128, 0);
    color: white;
}
.poison{
    background-color: rgb(143, 65, 203);
    color: white;
}
.ground{
    background-color: rgb(145, 81, 33);
    color: white;
}
.flying{
    background-color: rgb(129, 185, 239);
    color: white;
}
.psychic{
    background-color: rgb(239, 65, 121);
    color: white;
}
.bug{
    background-color: rgb(145, 161, 25);
    color: white;
}
.rock{
    background-color: rgb(175, 169, 129);
    color: white;
}
.ghost{
    background-color: rgb(112, 65, 112);
    color: white;
}
.dark{
    background-color: rgb(80, 65, 63);
    color: white;
}
.dragon{
    background-color: rgb(80, 97, 225);
    color: white;
}
.steel{
    background-color: rgb(96, 161, 184);
    color: white;
}
.fairy{
    background-color: rgb(239, 113, 239);
    color: white;
}
body{
    background: linear-gradient(to right, rgb(147, 248, 176), rgb(244, 198, 146) , rgb(157, 237, 246));
    color: rgb(255, 255, 255);
    margin: 0;
    min-height: 100vh;
}
main{
    padding: 2rem;
    max-width: 1150px;
    margin: auto;
}
.title{
    margin: auto;
    font-size: 40px;
    text-align: center;
}
.title1{
    font-family: Pokemon;
    text-decoration: none;
}

@font-face{
    font-family: Pokemon;
    src: url(../css/fuentes/Pokemon\ Solid.ttf);
}

.image{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}
.image img{
    width: 100%;
    max-width: 150px;
}
.all-pokemon{
    display: grid;
    grid-template-columns: 1fr /*1fr 1fr 1fr*/;
    gap: 1rem;
}

@media screen and (min-width: 475px){
    .all-pokemon{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 700px){
    .all-pokemon{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 925px){
    .all-pokemon{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon{
    border-radius: 15px;
    background-color: #f7f7f7;
    box-shadow: 0 0 20px -5px rgb(0, 0, 0);
    padding-block: 1rem;
    text-transform: uppercase;
}
.info{
    display: flex;
    flex-direction: column;
    /*gap: 0.5rem;*/
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.id{
    background-color: #ececec;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.75rem;
}
.name{
    font-size: 20px;
}
.types{
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}
.type{
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}
.enlace{
    text-decoration: none;
}