#all-pokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.pokemon {
    border-radius: 15px;
    border: 2px solid var(--primary);
    background-color: var(--backgroundpokemon);
    box-shadow: 0 0 20px -5px var(--primary);
    padding: 1rem;
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.name {
    font-size: 20px;
}

.barra {
    border-radius: 15px;
    max-width: 1115px;
    margin: auto;
    background-color: var(--backgroundpokemon);
    border: 2px solid var(--primary);
    box-shadow: 0 0 20px -5px var(--primary);
    display: flex;
    padding: 1rem;
}

#search {
    margin: auto;
}

main {
    padding: 2rem;
    max-width: 1150px;
    margin: auto;
}

.search-container {
    position: relative;
    width: 100%;
}

#buscador-imagen {
    margin-left: 590px;
    margin-top: 12px;
    width: 50px;
    position: absolute;
}

#search-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    margin: auto;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: var(--backgroundpokemon);
    font-size: 16px;
}

#easter-egg {
    position: absolute;
    width: 50px;
    margin-top: 7.5px;
    margin-left: 5px;
}

.shiny-container #shinyPanel {
    position: absolute;
    transition: 0.3s all;
    width: 90px;
    height: 70px;
    border-radius: 15px;
    padding-right: 2.5%;
    transform: translateX(-100%);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.shiny-container #shinyPanel.active {
    display: flex;
}

.shiny-container #shinyPanel .shiny {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--backgroundpokemon);
    cursor: pointer;
    transition: 0.3 all;
    margin-right: 5px;
}

.shiny-container #shinyPanel .default {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--backgroundpokemon);
    cursor: pointer;
    transition: 0.3 all;
    margin-right: 5px;
}

.shiny-container #shiny-mode {
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    filter: sepia(50%);
    transition: 0.4s ease;
    animation: 1.5s infinite;
}

.shiny-container #shiny-mode:hover {
    filter: sepia(0);
    transition: 0.4s ease;
}